<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ if .Title }}{{ .Title }} — {{ end }}{{ .Site.Title }}</title>
    {{ with (templates.Defer (dict "key" "global")) }}
      {{ partial "css.html" . }}
    {{ end }}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.16.0/devicon.min.css" />
  </head>
  <body class="min-h-screen">
    <main>
      {{ block "main" . }}{{ end }}
    </main>
  </body>
</html>
